body {
    color: rgb(205, 205, 205);
    background-color: rgb(44, 45, 46);
    font-family: 'Courier New', Courier, monospace, arial, helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
  display: flex;
  flex-direction: horizontal;
  height: 50px;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header-links > li, a {
  text-decoration: none;
  list-style: none;
}

.content1 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 700px;
  /* border: #ff0000 solid; */
  margin: auto;
}

.content1 > h1 {
    font-size: 50px;
    margin: auto;
    padding: 0;
}

mark.red {
    color:#ff0000;
    background: none;
}

.content2 {
  width: 700px;
  margin: auto;
}


.links {
  margin-top: 300px;
}

 /* unvisited link */
 a:link {
    color: rgb(48, 176, 255);
  }
  
  /* visited link */
  a:visited {
    color: rgb(192, 122, 249);
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }


.footer {
  background-color: black;
  display: flex;
  padding: 30px;
  justify-content: center;
}
