body {
    color: white;
    /* background-color: rgb(44, 45, 46); */
    background-image: linear-gradient(to bottom right, rgb(89, 0, 255), rgb(54, 0, 87));
    font-family: 'Roboto', 'Courier New', Courier, monospace, arial, helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.header {
  display: flex;
  flex-direction: horizontal;
  height: 50px;
  /* background-color: black; */
  background-color: rgba(138, 99, 255, 0.17);
  backdrop-filter: blur(6px);
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  z-index: 2;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.5s ease;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.header-logo {
  margin-left: 200px;
}

.header-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 200px;
}

.header li, a {
  text-decoration: none;
  list-style: none;
  color: white;
}

.home-banner {
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* width: 700px; */
  /* border: #ff0000 solid; */
  /* margin: auto; */
  height: 938px;
  justify-content: center;
  align-items: center;
  position: relative; /* Position context for circles */
  overflow: hidden;   /* Prevent the circles from overflowing */
}

.home-banner > h1 {
    font-size: 50px;
    padding: 0;
}

.home-banner > p {
  font-size: larger;
}

mark.red {
    color:#ff0000;
    background: none;
}

.aboutme {
  color: black;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.aboutme.img {
  background-color: gray;
  width: 500px;
  height: 550px;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
}

.aboutme.paragraph {
  width: 500px;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 25px; */
  font-size: 18px;;
  gap: 0;
  align-items: center;
  line-height: 32px;
}

.aboutme.paragraph1 > h2 {
  padding: 0;
  margin-bottom: 0;
  font-size: 25px;
  line-height: 34px;
}

.clubs {
  color: black;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.clubs.img {
  background-color: gray;
  width: 500px;
  height: 550px;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
}

.clubs.paragraph {
  width: 500px;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: red solid; */
  /* margin-top: 30px; */
  font-size: 18px;;
  gap: 0;
  align-items: center;
  line-height: 32px;
}

.github {
  color: black;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
              url('img/codebg.png'), rgb(255, 255, 255);
  background-size: 65% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.github.img {
  background: none;
  
}

.github.img > img {
  width: 80%;
  filter: drop-shadow(2px 2px 15px rgba(0, 0, 0, 0.3));
  border-radius: 50%;
}

.github.paragraph {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  gap: 0;
  align-items: center;
  line-height: 32px;
  background: none;
}

.github-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  width: 250px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  gap: 0;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.github-button > img {
  width: 12%;
}

.socials {
  color: black;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}

.socials.paragraph {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  gap: 0;
  align-items: center;
  line-height: 32px;
  background: none;
}

.socials.img {
  background: none;
  
}

.socials.img > img {
  width: 80%;
  filter: drop-shadow(2px 2px 15px rgba(0, 0, 0, 0.3));
}

.socials.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 0;
}

.socials-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  width: 250px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  gap: 0;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.socials-button > img {
  width: 12%;
}

button:hover {
  filter: invert();
}

.links {
  color: white;
  /* background-color: white; */
}

.links a {
  /* color: blue */
}


/* unvisited link */
/* a:link {
  color: rgb(48, 176, 255);
} */

/* visited link */
/* a:visited {
  color: rgb(192, 122, 249);
} */

/* mouse over link */
a:hover {
  /* color: hotpink; */
  text-decoration: underline;
}

/* selected link */
a:active {
  color: blue;
}

.imgs {
  color: black;
  background-color: white;
}

.footer {
  background-image: linear-gradient(to bottom right, rgb(89, 0, 255), rgb(54, 0, 87));
  display: flex;
  /* flex-direction: column; */
  padding: 30px;
  justify-content: center;
  /* width: 100%; */
}


/* ANIMATED BACKGROUND */
.area{
  width: 100%;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  bottom: 0;  /* Align circles to bottom */
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #a5a5a5; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}

/* Typewriter effect */
.cursor {
  display: inline-block;
  width: 2px;
  background-color: white; /* Change to match text color */
  height: 1.2em;
  margin-left: 5px;
  animation: blink 1.00s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* moreaboutme.html */
.moreaboutme-content1 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* width: 700px; */
  /* border: #ff0000 solid; */
  /* margin: auto; */
  height: 400px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.moreaboutme-content1 > h1 {
    font-size: 50px;
    padding: 0;
}

.moreaboutme {
  color: black;
  background-color: white;
}

.moreaboutme.paragraph1 {
  width: 700px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background-color: white;
}

/* projects.html */
.projects-banner {
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* width: 700px; */
  /* border: #ff0000 solid; */
  /* margin: auto; */
  height: 400px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.banner-divider {
  background-color: rgb(255, 255, 255, 0.8);
  height: 2px;
  width: 50px;
  border-radius: 2px;
  position: relative;
}

.projects {
  color: black;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 1000px;
}

.projects.project1 {
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  font-size: 18px;
}

.projects.project1para {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.projects.project1para > h5 {
  gap: 0;
  margin-top: -20px;
  margin-bottom: 5px;
}

.projects.imgcontainer {
  width: 50%;
  margin-bottom: 50px;
}

.projects.project1img {
  background-color: gray;
  width: 700px;
  height: 350px;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}


/* resume.html */
.resume-banner {
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* width: 700px; */
  /* border: #ff0000 solid; */
  /* margin: auto; */
  height: 400px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.resume {
  color: black;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 1000px;
}